## Logging (docs: https://docs.rs/env_logger/latest/env_logger/)
# Possible options for RUST_LOG:
# "error" - Logs only error messages.
# "warn" - Logs warnings and errors.
# "info" - Logs informational messages, warnings, and errors.
# "debug" - Logs debug, informational messages, warnings, and errors.
# "trace" - Logs all messages including trace-level details.
# "off" - Disables logging entirely.
# You can also specify logging levels for specific modules, e.g.:
# - "debug,sqlx=info": Debug message for entire app, info for sqlx module.
# - "off": Disables logging entirely
RUST_LOG="debug,sqlx=info"


## Server Configuration
# Host address for the backend server.
ACTIX_HOST=127.0.0.1
# Port number for the backend server.
ACTIX_PORT=8080


## Authentication
# Secret key used for JSON Web Token (JWT) authentication.
JWT_SECRET=sensitivejwtsecret


# needed for running the db with docker
POSTGRES_USER=arcadia
POSTGRES_PASSWORD=password

# Connection string for the database.
DATABASE_URL=postgresql://arcadia:password@localhost:4321/arcadia


## Arcadia Configuration
# Enable or disable open signups.
ARCADIA_OPEN_SIGNUPS=true
# Name of the tracker.
ARCADIA_TRACKER_NAME=Arcadia
# URL for the frontend application.
ARCADIA_FRONTEND_URL=https://site.com
# URL for the tracker.
ARCADIA_TRACKER_URL=https://site.com
# Global upload factor.
ARCADIA_GLOBAL_UPLOAD_FACTOR=100
# Global download factor.
ARCADIA_GLOBAL_DOWNLOAD_FACTOR=100

# Redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=
REDIS_PORT=6379

## Optional: TMDB API (for movie/TV metadata)
# Signup on themoviedb.org
# TMDB_API_KEY=your_tmdb_api_key

## Optional: Required for Comic Vince access.
# Signup on comicvine.gamespot.com/api/
# COMIC_VINCE_API_KEY="your_api_key"

## Optional: SMTP Configuration (for email)
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USERNAME=your-email@gmail.com
# SMTP_PASSWORD=your-app-password
# SMTP_FROM_EMAIL=noreply@yourtracker.com
# SMTP_FROM_NAME=Arcadia Tracker

# ----------- Tracker
# Used for the backend to make requests to the tracker
# and vice-versa
ARCADIA_TRACKER_API_KEY=change_me
# used to make requests from the backend to the tracker
# ARCADIA_TRACKER_URL is used for public access, and this one only for the backend
ARCADIA_TRACKER_URL_INTERNAL=http://localhost:8081
